.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 320px) {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .row > .column-half:nth-child(2) {
    position: relative;
    top: 125px;
  }

  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}
